nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    background-color: #f0f0f0;
    width: 30%;
    padding-top: 10px;
    border-radius: 5px 5px 0 0;
}

.nav-links {
    background-color: #f0f0f0;
    padding: 15px;
    width: 30%;
    border-radius: 0 0 5px 5px;
}